<ul>
    <!--
    <li>validate input, to make sure there are no special symbols in the file</li>
    -->
<li>[done] User <a href="{{submit}}">submitted</a> drafts</li>
<li>[done] Construct cards index to make the page load faster</li>
<li>[done] Provide a list of <a href="{{recent}}">latest submitted drafts</a></li>
<li>[done] List previously picked cards alongside the current pick</li>
<li>[done] Optimize cards index</li>
<li>Deck, description, matches outcome submission</li>
<li>Provide some stats on current draft formats: most popular commons and uncommons, pairs of cards usually drafted together, etc</li>
<li>A bigger card image on the right side upon mouse hover</li>
<li>Better, slick design</li>
<li>Search by drafter mtgo name</li>
<li>Fix flip and double-sided cards. This is essential for cube, because there are so many older cards
        for which I fail to get the artwork automagically, e.g., <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=78679">Nezumi Shortfang</a>
<li>Better integration with Facebook: comments on picks, etc</li>
 <li>Bug: sometimes there is no pick in a file, so stop looking for it in that file further down</li>
    <!-- limit uploaded file size to 30KB, check the input! -->
    <!-- proper rendering if the url of gatherer is unavailable -->
    <!-- parse cards IDs from the JSON http://gatherer.wizards.com/Handlers/InlineCardSearch.ashx?nameFragment=balance&cacheBust=1388416122487
    instead of parsing the html
    -->


</ul>